<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personnel_Register.Properties.Settings.Personnel_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-N0BSSOE;Initial Catalog=Personnel_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>